﻿@{
    ViewBag.Title = "Hakkımızda";
}

@model  List<web.Models.Data.Takim>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading" style="font-family:'Book Antiqua'; background-color:bisque ; color:black ; margin-top:50px">
            <h4 style=" margin-left:600px; font-weight:bold">@web.Resources.lang.YonetimKadrosu</h4>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                @foreach (var item in Model.Where(x => x.Tip == 1))
                {
                    <div class="col-md-2">
                        @if (item.Foto == null)
                        {
                            <img class="img-responsive" src="~/resim/slider1.jpg" alt="@item.AdSoyad" />
                        }
                        else
                        {
                            <img class="img-responsive" src="data:image/png;base64,@System.Convert.ToBase64String(item.Foto)" alt="@item.AdSoyad">
                        }
                    </div>
                    <div class="col-md-10">
                        <h4>@item.AdSoyad</h4>
                        <p>@item.Icerik</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading"style="font-family:'Book Antiqua'; background-color:bisque ; color:black ; ">
            <h4 style=" margin-left:600px; font-weight:bold" ">@web.Resources.lang.PersonelKadrosu</h4>
        </div>
        <div class="panel-body">
            @foreach (var item in Model.Where(x => x.Tip == 2))
            {
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-12">
                                @if (item.Foto == null)
                                {
                                    <img class="img-responsive" src="~/resim/slider1.jpg" alt="@item.AdSoyad" />
                                }
                                else
                                {
                                    <img class="img-responsive" src="data:image/png;base64,@System.Convert.ToBase64String(item.Foto)" alt="@item.AdSoyad">
                                }
                            </div>
                            <div class="col-md-12">
                                <h4>@item.AdSoyad</h4>
                                <p>@item.Icerik</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
