﻿
@model  web.Models.Data.Modul

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: lightblue; margin-top:10px">
                <h4 style="font-family: Arial, Helvetica, sans-serif;color:black;margin-left:600px; font-weight:bold">@Model.ModulBaslik</h4>
            </div><div class="panel-body" style="background-color: white">
                <div class="col-md-8">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                          
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                                <li data-target="#myCarousel" data-slide-to="3"></li>
                            </ol>

                            
                            <div class="carousel-inner" role="listbox" style="margin-bottom:50px">
                                <div class="item active">
                                    <img src="~/resim/sliderfoto1.jpg" alt="" />
                                </div>

                                <div class="item ">
                                    <img src="~/resim/bosu.jpg" alt="" />
                                </div>

                                <div class="item">
                                    <img src="~/resim/sliderfoto2.jpg" alt="" />
                                </div>

                                <div class="item">
                                    <img src="~/resim/sliderfoto3.jpg" alt="" />
                                </div>
                            </div>

                         
                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                    @if (Model.ModulFoto == null)
                    {
                        <img class="img-responsive" src="~/resim/bodybuilding.jpg" alt="@Model.ModulBaslik" />
                    }
                    else
                    {
                        <img class="img-responsive" src="data:image/png;base64,@System.Convert.ToBase64String(Model.ModulFoto)" alt="@Model.ModulBaslik">
                    }
                </div>
                <div class="col-md-4">
                    <h4 style=" font-size:40px;font-family:SimSun;font-weight:bold; color:brown">@Model.ModulBaslik</h4>
                    <p style="font-size:16px; color:black;font-synthesis:style">@Model.ModulIcerik </p>
                </div>
            </div>
        </div>
    </div>
</div>